<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<span>Select a cell!</span>
<div id="tableContainer"></div>
<button type="button" id="showGrid_btn" value="Show Grid" onclick="showHideGrid(this)">Show</button>

<script>
    function displayGrid(elem){
        gridID = document.getElementById("tableContainer");
        if (gridID === "1px"){
            console.log(gridID);
        }else{
            console.log("in function");
        }
    }


    function generateGrid( rows, cols ) {
        var grid = "<table>";
        for ( row = 1; row <= rows; row++ ) {
            grid += "<tr>";
            for ( col = 1; col <= cols; col++ ) {
                grid += "<td></td>";
            }
            grid += "</tr>";
        }
        grid += "</table>";
        return grid;
    }

    $("#tableContainer").append(generateGrid( 10, 10));

    $( "td" ).click(function() {
        var index = $( "td" ).index( this );
        var row = Math.floor( ( index ) / 5) + 1;
        var col = ( index % 5 ) + 1;
        $( "span" ).text( "That was row " + row + " and col " + col );

        if ( (this).style.backgroundColor === 'red'){
            $( this ).css( 'background-color', 'red' );
        }
        else{
            $( this ).css( 'background-color', 'red' );
        }
    });

document.addEventListener('keydown', function(event) {
  console.log("key pressed:",event.key);
}, true);

</script>

<style>

    td {border: 1px solid;  width: 40px; height: 40px; }

</style>
</html>