<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/login-stylesheet.css') }}"/>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="{{ url_for('.static',filename='displayGrid.js') }}"></script>
    <script src="{{ url_for('.static',filename='grid.js') }}"></script>
    <script src="{{ url_for('.static',filename='update.js') }}"></script>
    <title>Login</title>
</head>

<h1 style="text-align: center">Login Page</h1>
<body>
    {% if msg %}
        <div class="alert alert-warning page-alert" id="error-msg">
            <button type="button" class="close"><span aria-hidden="true">×</span></button>
            {{ msg }}
        </div>

    {% endif %}

    <form method="POST" action="/find_user">
        <div  id="enter-usr-box">
            <label>Username:</label>
            <label for="username_box"></label>
            <input type="text" id="username_box" name="username_box">
            <input type="submit" id="submit-btn" value="Enter">
        </div>
    </form>


</body>

</html>